* {
    margin: 0;
}

.header {
    color: aliceblue;
}

.bg {
    background-image: none;
    height: 100%;
    width: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 78.7vh;
    background-attachment: fixed;
    padding-top: 50px;
}

.body {
    height: 100%;
    width: 100%;
}

.menu1 {
    background-color: #026c74;
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-wrap: wrap;
}

.menu2 {
    display: flex;
    padding: 15px 0px;
    background-color: #025157;
    justify-content: space-around;
}

.today, .week {
    font-family: "Montserrat";
    font-size: larger;
}

.home {
    display:flex;
    flex-basis: 40%;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    color: aliceblue;
    text-decoration: none;
    font-family: "Montserrat";
}

.input_form {
    display:flex;
    flex-basis: 60%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
}
#city_input {
    font-size: medium;
    background: rgb(235, 235, 235);
    border: 0;
    text-align: center;
    width: 100%;
}

#search {
    display: flex;
    background: rgb(235, 235, 235);
    border: 0;
    border-radius: 20px;
    padding: 10px;
    min-width: 200px;
    width: 30%;
    padding-right: 30px;
    align-items: center;
}

i {
    color: black;
}
.buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-left: 3%;
}
.result {
    flex-basis: 30%;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 300px;
    background: #8d8d8df8;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    font-family: "Montserrat";
    background-size: cover;
    opacity: 0.7;
}

.custom-button {
    position: sticky;
    left: 1000px;
    box-sizing: border-box;
    width: 100%;
    max-width: 180px;
    height: 40px;
    max-height: 60px;
    margin: 5px 0px;
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue',
        Ubuntu, sans-serif;
    font-size: 18px;
    line-height: 1.15;
    color: #fff;
    cursor: pointer;
    background-color: #405cf5;
    border-width: 0;
    border-radius: 6px;
    outline: none;
    box-shadow: rgb(50 50 93 / 10%) 0 0 0 1px inset,
        rgb(50 50 93 / 10%) 0 2px 5px 0, rgb(0 0 0 / 7%) 0 1px 1px 0;
    appearance: button;
    backface-visibility: hidden;
}
.custom-button:hover{
    background-color: #354dd2;
}